<div class="left">
  <span class="title">Bonjour à vous! !</span>
  <p>Bienvenu sur Luilciné!
    <img src="assets/snacks.png" class="sun">
  </p>
  <span class="title">Comment se passe le visionage </span>
  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="assets/recherche.png" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Rechercher un cinéma</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/visionnage.png" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Regarder le film au lieu de la réservation</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/repeat.png" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Repeat</p>
      </div>
    </div>
  </div>
  <p>Pendant 1 semaines, le cinéthon se lance. Rejoignez notre page instagram pour gagner des concours!</p>
</div>
<div class="right">
  <img src="assets/logo.png">
</div>
