<div class="d-flex align-items-center">
  <h1>Reservations</h1>
  <a mat-raised-button color="primary" routerLink="/reservation-details/new">New</a>
</div>
<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">Nom</th>
    <th scope="col">Prénom</th>
    <th scope="col">Mail</th>
    <th scope="col">id_reservation</th>
    <th scope="col">id_seance</th>
    <th scope="col">delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let reservation of (reservations$ | async)" routerLink="/reservation-details/{{reservation.Id_Reservation}}">
    <td>{{ reservation.user.prenom }}</td>
    <td>{{ reservation.user.prenom }}</td>
    <td>{{ reservation.user.mail }}</td>
    <td>{{ reservation.Id_Reservation }}</td>
    <td>{{ reservation.Id_Seance }}</td>
    <td>
      <button mat-icon-button color="warn" (click)="deleteReservation($event, reservation)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </tr>
  </tbody>
</table>

